/* Global */
:root {
  /* Color */
  --color-dark-grey: #404040;
  --color-white: #ffffff;
  --color-black: #000000;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;

  /* Animation */
  --animation-duration: 300ms;

  font-family: 'Playfair Display', serif;
}

/* Universal tags */
* {
  box-sizing: border-box;
}

/* Typography */
body {
  margin: 0;
  cursor: default;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

ul {
  list-style: none;
  color: var(--color-black);
  padding-left: 0;
}

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}
p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}

/* Navbar */
#navbar {
  display: flex;
  justify-content: space-between;
  /* background-color: var(--color-dark-grey); */
  background-color: transparent;
  position: fixed;
  width: 100%;
  align-items: center;
  padding: 8px;
  position: fixed;
  transition: all var(--animation-duration) ease-in-out;
  z-index: 1;
}

#navbar.navbar--dark {
  background-color: var(--color-dark-grey);
  padding: 8px;
}

.navbar__menu {
  display: flex;
  margin: 0px 10px;
  color: var(--color-white);
}

.navbar__logo {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
}

.navbar__menu__item {
  padding: 8px, 12px;
  margin: 0px 30px;
  cursor: pointer;
  border-radius: var(--size-border-radius);
}

.navbar__menu__item.active {
  border: 1px solid var(--color-white);
}

.navbar__menu__item:hover {
  background-color: var(--color-black);
}

.navbar__sns i {
  padding: 5px;
  color: var(--color-white);
}

.navbar__sns i:hover {
  transform: scale(1.3);
  animation-duration: all var(--animation-duration) ease-in;
}

.navbar__toggle-btn {
  position: absolute;
  top: 24px;
  right: 38px;
  font-size: 24px;
  display: none;
}

/* About */

.about__container {
  height: 100vh;
  position: relative;
}

.about__container::before {
  content: '';
  background: url('img/about/about_img.png') center/cover no-repeat;
  opacity: 0.7;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.about__textBox {
  position: relative;
  top: 300px;
  padding-left: 150px;
}

.about__discription {
  color: var(--color-white);
}

/* product */
#product {
  background: url('img/product/product_img.png') center/cover no-repeat;
  height: 600px;
}

.product__title {
  color: var(--color-white);
}

.product__discription {
  color: var(--color-white);
}

/* Contents */

#contents > h3 {
  text-decoration: underline;
}

.first-low {
  display: flex;
  justify-content: space-between;
}

.contents__magazines {
  margin: 0px 50px;
}

.magazine {
  margin-right: 50px;
}

.magazine__photo {
  height: 400px;
  width: 300px;
  border: solid 1px var(--color-dark-grey);
}

.magazine__contents {
  text-align: center;
}

.magazine__link {
  color: var(--color-black);
  text-decoration: underline;
}

/* Contact */
#contact {
  margin-top: 10px;
  background-color: var(--color-black);
  color: var(--color-white);
}

.contact__upper {
  display: flex;
  justify-content: space-between;
}

.contact__icon {
  margin: 30px;
}

.contact__icon i {
  margin: 0px 10px;
}

.contact__icon i:hover {
  transform: scale(1.3);
  animation-duration: all var(--animation-duration) ease-in;
}

.contact__title {
  color: var(--color-white);
}

.contact__lower {
  display: flex;
}

.contact__sub {
  color: var(--color-white);
  margin: 0px;
}

.contact__num {
  margin: 0px 50px;
  color: var(--color-white);
}

/* For bleow 768px screen width */
@media screen and (max-width: 768px) {
  .navbar__toggle-btn {
    display: block;
  }

  #navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar__menu {
    flex-direction: column;
    text-align: center;
    width: 100%;
    display: none;
  }
}
